
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Erzuege Feedback", "CreateFeedBack", null, new { @class = "btn btn-danger" })

